---
layout: default
comment: true
---
<div class="article article-post">
    <h2 class="title">{{ page.title }}</h2>
    <div class="info">
        <span class="info-title"><i class="icon-calendar"></i> Published: </span>
        <span class="info-date">{{ page.date | date: "%Y-%m-%d" }}</span>
        <span class="info-title"><i class="icon-folder-open"></i> Category: </span>
        <span class="info-link"><a href="{{ site.url }}/categories/#{{ page.category }}-ref" >{{ page.category }}</a></span>
    </div>
    {{ content }}
    <nav class="article-previous fn-clear">
        {% if page.previous %}
        <a class="prev" href="{{ page.previous.url }}" rel="bookmark">&laquo;&nbsp;{{ page.previous.title | truncatewords:5 }}</a>
        {% endif %}
        {% if page.next %}
        <a class="next" href="{{ page.next.url }}" rel="bookmark">{{ page.next.title | truncatewords:5 }}&nbsp;&raquo;</a>
        {% endif %}
    </nav>
    <div class="comment">
        {% if site.uyan.config %}
        <div id="uyan_frame"></div>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid={{ site.uyan.id }}}"></script>
        {% endif %}

        {% if site.changyan.config %}
        <div id="SOHUCS" ></div>
        <script type="text/javascript">
        (function(){
        var appid = '{{ site.changyan.appid }}';
        var conf = '{{ site.changyan.conf }}';
        var width = window.innerWidth || document.documentElement.clientWidth;
        if (width < 960) {
        window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("http://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>
        {% endif %}
    </div>
</div>
